{% extends "template.html" %}
{% block main %}
<script>
homepage = true;
</script>
<link href="{{STATIC_URL}}css/homepage.css" rel="stylesheet" media="screen">

<div class="container homepage-body">
    <div class="main-info">
      It's easy to see when all your friends are free.

      <div>
        Just sign up and you'll be on your way!
      </div>
    </div>

    <br>

    <div class="pagination-centered">
      <a class="btn btn-large btn-success homepage-button center" href="#" id="loginButton">Connect with Facebook</a>
    </div>

    <!-- Main hero unit for a primary marketing message or call to action -->

    <!--
    <div id="myCarousel" class="carousel slide">

      <div class="carousel-inner">
        <div class="active item"><img src="{{STATIC_URL}}img/slider/1.png" /></div>

        <div class="item"><img src="{{STATIC_URL}}img/slider/2.jpg" /></div>

        <div class="item"><img src="{{STATIC_URL}}img/slider/3.png"  /></div>
      </div><
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row" id="call-to-action">
      <div class="span9">
        <h2>See What You Can Do with SpareTime Now!</h2>
      </div>
      <a class="btn btn-large btn-success offset1" href="#" id="loginButton">Get Started!</a>
    </div>

    <div class="row">
      <div class="span4">
        <h2>Heading</h2>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>

      <div class="span4">
        <h2>Heading</h2>

        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>

      <div class="span4">
        <h2>Heading</h2>

        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget
        quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac
        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus.</p>

        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
    </div>
  
     -->

    <hr />
  </div><!-- /container -->
{% endblock main %}