{% extends "template.html" %}
{% block main %}
<script>
homepage = true;
</script>
<link href="{{ STATIC_URL}}css/homepage.css" rel="stylesheet" media="screen">
<div>
	Sammy's first Div. Hi everyone. You're on the homepage. You should probably actually go on the site. You can even sign in by going to www.facebook.com, signing in, and refreshing the page if you don't like the button in the top right corner.
</div>

<div class="main-info">
	It's easy to see when all your friends are free!
	<div>
		Get started with our new calendar application that will change the way you plan events. 
 		Just sign in with Facebook, import all of your Google Calendar events, and you'll be on your way!
	</div>
</div>

{% endblock main %}