{% extends "template.html" %}
{% block main %}
<script>
homepage = true;
</script>
<div>
	Sammy's first Div. Hi everyone. You're on the homepage. You should probably actually go on the site. You can even sign in by going to www.facebook.com, signing in, and refreshing the page if you don't like the button in the top right corner.
</div>

<div>
	It's easy to see when all your friends are free!
	<div>
		Just sign in with Facebook, import all of your Google Calendar events, and you'll be on your way!
	</div>
</div>

{% endblock main %}