<!DOCTYPE html>
<html>
   <head>
      <title>Spare Time</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="{{ STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
      <link href="{{ STATIC_URL}}css/custom.css" rel="stylesheet" media="screen">
   </head>
   <body>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
      <div id="fb-root"></div>

      <script type="text/javascript" src="{{ STATIC_URL }}/js/facebook.js"></script>
      <!--<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>-->
      <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
               <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="/">SpareTime</a>
                  <div class="nav-collapse collapse">
                     <ul class="nav">
                        <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                     </ul>
                     <ul class="nav pull-right">
                        <!--<li><a href="/login"><i class="icon-user icon-white"></i> My Profile</a></li>-->
                        
                        <li><a href="#" id="notificationButton"><i class="icon-exclamation-sign"></i>Notifications</a></li>
                        <li><a href="#" id="loginButton">Log In</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="homepage-body" id="mainContent">
            <div class="row">
               <div class="span12">
                  <p></p>
               </div>
            </div>
            {% block main %}
            {% endblock main %}
         </div>
         <div class="push"></div>
      </div>
      
      <div id="footer">
          <div class="container">
             <p class="muted credit"> 
             <br>© 2013 SpareTime. All rights reserved. </p>
          </div>
      </div>
      <!-- Le javascript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster 
         <script src="/static/bootstrap/js/jquery.js"></script>
         <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
         <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
         <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
         <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
         <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
         <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
         <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
         <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
         <script src="/static/bootstrap/js/bootstrap-button.js"></script>
         <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
         <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
         <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>-->
   </body>
</html>
