{% extends "template.html" %}
{% block main %}

<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/timePicker/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/tinyscrollbar.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/timePicker/css/bootstrap-datetimepicker.min.css"/>
<!--
<script src="http://connect.facebook.net/en_US/all.js"></script>

<fb:login-button autologoutlink="true" onlogin="OnRequestPermission();">
</fb:login-button>
-->

 <!--Add a button for the user to click to initiate auth sequence -->
    <button id="lgoutgcal" onclick="logoutGmail()">Logout</button>
    <button id="lgoutgcal" onclick="acceptNotification()">Accept</button>

    <script>
        var logoutGmail = function(){
         window.open('https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://127.0.0.1:8000/', '_self');
    }
    </script>

    <button id="authorize-button" onclick="handleClientLoad()">Authorize</button>
    <script type="text/javascript">
      // Enter a client ID for a web application from the Google Developer Console.
      // The provided clientId will only work if the sample is run directly from
      // https://google-api-javascript-client.googlecode.com/hg/samples/authSample.html
      // In your Developer Console project, add a JavaScript origin that corresponds to the domain
      // where you will be running the script.
      var clientId = '984176055001-8d2phedubon1coodjcrti1m0r198mp7a.apps.googleusercontent.com';

      // Enter the API key from the Google Develoepr Console - to handle any unauthenticated
      // requests in the code.
      // The provided key works for this sample only when run from
      // https://google-api-javascript-client.googlecode.com/hg/samples/authSample.html
      // To use in your own application, replace this API key with your own.
      var apiKey = 'AIzaSyBWD6GSRwVl4lDZHFuzzPsRPb9cG0f8vKc';

      // To enter one or more authentication scopes, refer to the documentation for the API.
      var scopes = 'https://www.googleapis.com/auth/calendar';

      // Use a button to handle authentication the first time.
      function handleClientLoad() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth,1);
      }

      function checkAuth() {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
      }


      function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
          getGoogleEvents();
        } else {
            alert("Couldn't authorize")
        }
      }

      function handleAuthClick(event) {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
        return false;
      }

      // Load the API and make an API call.  Display the results on the screen.
    function getGoogleEvents() {

        var request = gapi.client.request({
            'path': '/calendar/v3/users/me/calendarList',
        });
        request.execute(function (resp) { 
            $.each(resp.items, function (index, dat){
            if(dat.id.indexOf("#") == -1){
            var restRequest = gapi.client.request({
                'path': '/calendar/v3/calendars/'+dat.id+'/events',
                'params': {'timeMax': '2014-01-01T16:00:00-04:00', 'timeMin': '2013-01-01T16:00:00-04:00'}  
            });
    
            restRequest.execute(function(resp) { 
            gcal(resp); 
        });
        }       
        });
        });
    }

    </script>
    <script src="https://apis.google.com/js/client.js"></script>


<div id="notificationLocation">
</div>

<div class="row">
    <div class="span1"><button type="button" id="calendarBack" class="btn btn-block btn-primary">&lt&lt</button></div>
    <div class="span1"><button type="button" id="calendarToday" class="btn btn-block btn-primary">Today</button></div>
    <div class="span1"><button type="button" id="calendarForward" class="btn btn-block btn-primary">&gt&gt</button></div>
    <div class="span6"><h4 id="weekname">{{ header }}</h4></div>
    <div class="span1"></div>
    <div class="span1"><button type="button" id="monthlyButton" class="btn btn-block btn-primary">Monthly</button></div>
    <div class="span1"><button type="button" id="weeklyButton" class="btn btn-block btn-primary">Weekly</button></div>
</div>

<!--
<div class="row">
    <div class="span12"><button id="gcal" type="button" class="btn btn-block btn-primary">Do Google Calendar Stuff</button></div>
</div>
-->

<div class="row">
    <div class="span12"><p></p></div>
</div>

<!-- Start Week Calendar -->
<div id="weeklyCalendar">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="5.5%"></th>
                {% for day in days %}
                <th class="headings weekly" width="13.5%">{{day.title}}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>

    <div id="scrollbar1" class="noSelect">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
               <div class='dragged'></div>
                <div class="calendarTable">
                    <table>
                        <tbody>
                            {% for hour in hours %}
                            <tr class="calendarRow">
                                <td class="hourEntry" rowspan="2" width="5.5%">{{hour}}</td>
                                {% for day in days %}
                                {% if day.today %}
                                <td class="calendarEntry calendarToday" width="13.5%"></td>
                                {% else %}
                                <td class="calendarEntry" width="13.5%"></td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            <tr class="calendarRow">
                                {% for day in days %}
                                {% if day.today %}
                                <td class="calendarHalfHour calendarToday" width="13.5%"></td>
                                {% else %}
                                <td class="calendarHalfHour" width="13.5%"></td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Week Calendar -->

<div id="monthlyCalendar">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for day in monthDays %}
                    <th class="headings monthly" width="14.3%">{{day.title}}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>


    <div class="calendarMonthTable">
        <table>
            <tbody>
                {% for week in monthWeeks %}
                <tr class="calendarRow">
                    {% for day in week %}
                    {% if day.thisMonth %}
                        {% if day.today %}
                            <td class="calendarMonthEntry calendarToday" width="14.3%">{{day.date}}<div></div></td>
                        {% else %}
                            <td class="calendarMonthEntry" width="14.3%">{{day.date}}<div></div></td>
                        {% endif %}
                    {% else %}
                        {% if day.today %}
                            <td class="calendarMonthEntry otherMonth calendarToday" width="14.3%">{{day.date}}<div></div></td>
                        {% else %}
                            <td class="calendarMonthEntry otherMonth" width="14.3%">{{day.date}}<div></div></td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- End of Month Calendar -->

<div class="row">
    <div class="span12"><p></p></div>
</div>

<div class="btn-group" data-toggle="buttons-radio">

    <div class="row">
        <div class="span3"></div>
        <div class="span3"><button type="button" id="makeEvent" class="btn btn-block btn-inverse">Make Event</button></div>
        <div class="span0"></div>
        <div class="span3"><button type="button" id="addFriends" class="btn btn-block btn-inverse">Invite Friends</button></div>
        <div class="span3"></div>
    </div>

</div>
<div class="row">
    <div class="span12"><p></p></div>
</div>


<!-- Friend Modal -->
<div id="friendModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Invite Friends</h3>
    </div>
    <div class="modal-body">
        <p>Add friends to invite to your event:</p>
        <input type="text" id="friendComplete">

        <div class="row-fluid">
            <div id="invitedFriends">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="chooseFriendsCancel" class="btn">Cancel</a>
        <a href="#" id="showFriendAvailability" class="btn btn-primary">Show Availability</a>
    </div>
</div>
<!-- End Friend Modal -->


<!-- Modal -->
<div id="eventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form>
        <div class="modal-header">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#eventInformationTab" data-toggle="tab">Event Information</a></li>
            <li><a href="#commentsTab" data-toggle="tab">Comments</a></li>
        </ul>
        <!--    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        </div>

        <div class="modal-body">
            <div id="modalEventInformation">

            <h3 id="myModalLabel"><input id="eventName" class="input-block-level" type="text" placeholder="Event Name"></h3>
                <div class="row-fluid">
                    <div class="span6">
                        <div id="datetimepicker" class="input-append">
                            <input id="startTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="span6">
                        <div id="datetimepicker2" class="input-append">
                            <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                            <span class="add-on">
                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <input id="eventLocation" class="input-block-level" type="text" placeholder="Event Location">
                    </div>
                </div>
                <div>
                    <label class="checkbox">
                        <input type="checkbox" name="repeatEvents" id="repeatEventsCheckbox" value="repeat">
                        Repeat...
                    </label>
                    <div class="hide" id="modal-repeat">
                        Repeats: 
                        <select id="repeat-option-time-period">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="hide" id="repeat-daily">
                            <div>
                                Repeats every : 
                                <select class="span1" id="interval">
                                    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                    <option>{{forloop.counter}}</option>
                                    {% endfor  %}
                                </select>
                                days
                            </div>
                            <div class="row-fluid">
                                <div class="span2">
                                    Starts on: 
                                </div>
                                <div id="datetimepicker2" class="input-append span6">
                                    <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                Ends: 
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="Never" checked>
                                    Never
                                </label>
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="After">
                                    After <input id="afterOccurrences" class="span1 input-block-level" type="text" placeholder=""> Occurrences
                                </label>
                                <label class="radio">
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <input type="radio" name="endRadios" value="On">
                                            On 
                                        </div>
                                        <div id="datetimepicker2" class="input-append span6">
                                            <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div class="hide" id="repeat-weekly">
                            <div>
                                Repeats every : 
                                <select class="span1" id="interval">
                                    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                    <option>{{forloop.counter}}</option>
                                    {% endfor  %}
                                </select>
                                weeks
                            </div>
                            <div>
                                Repeat on: 
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="Su" value="Su"> Su
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="M" value="M"> M
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="T" value="T"> T
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="W" value="W"> W
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="Th" value="Th"> Th
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="F" value="F"> F
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" name="repeatOn" id="Sa" value="Sa"> Sa
                                </label>
                            </div>
                            <div class="row-fluid">
                                <div class="span2">
                                    Starts on: 
                                </div>
                                <div id="datetimepicker2" class="input-append span6">
                                    <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                Ends: 
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="Never" checked>
                                    Never
                                </label>
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="After">
                                    After <input id="afterOccurrences" class="span1 input-block-level" type="text" placeholder=""> Occurrences
                                </label>
                                <label class="radio">
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <input type="radio" name="endRadios" value="On">
                                            On 
                                        </div>
                                        <div id="datetimepicker2" class="input-append span6">
                                            <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div class="hide" id="repeat-monthly">
                            <div>
                                Repeats every : 
                                <select class="span1" id="interval">
                                    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                    <option>{{forloop.counter}}</option>
                                    {% endfor  %}
                                </select>
                                months
                            </div>
                            <div>
                                Repeat by:
                                <label class="radio inline">
                                    <input type="radio" name="monthly-repeat-by" id="daymonth" value="daymonth" checked>
                                    day of the month
                                </label>
                                <label class="radio inline">
                                    <input type="radio" name="monthly-repeat-by" id="dayweek" value="dayweek">
                                    day of the week
                                </label>
                            </div>
                            <div class="row-fluid">
                                <div class="span2">
                                    Starts on: 
                                </div>
                                <div id="datetimepicker2" class="input-append span6">
                                    <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                Ends: 
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="Never" checked>
                                    Never
                                </label>
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="After">
                                    After <input id="afterOccurrences" class="span1 input-block-level" type="text" placeholder=""> Occurrences
                                </label>
                                <label class="radio">
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <input type="radio" name="endRadios" value="On">
                                            On 
                                        </div>
                                        <div id="datetimepicker2" class="input-append span6">
                                            <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div class="hide" id="repeat-yearly">
                            <div>
                                Repeats every : 
                                <select class="span1" id="interval">
                                    {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
                                    <option>{{forloop.counter}}</option>
                                    {% endfor  %}
                                </select>
                                years
                            </div>
                            <div class="row-fluid">
                                <div class="span2">
                                    Starts on: 
                                </div>
                                <div id="datetimepicker2" class="input-append span6">
                                    <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                Ends: 
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="Never" checked>
                                    Never
                                </label>
                                <label class="radio">
                                    <input type="radio" name="endRadios" value="After">
                                    After <input id="afterOccurrences" class="span1 input-block-level" type="text" placeholder=""> Occurrences
                                </label>
                                <label class="radio">
                                    <div class="row-fluid">
                                        <div class="span1">
                                            <input type="radio" name="endRadios" value="On">
                                            On 
                                        </div>
                                        <div id="datetimepicker2" class="input-append span6">
                                            <input id="endTime" data-format="MM/dd/yyyy HH:mm PP" type="text"></input>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                    
                </div>
                <textarea id="eventDescription" class="input-block-level" placeholder="Event Description..." rows="10"></textarea>

                <div>
                    <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="PU" value="PU" checked>
                        Public
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="PR" value="PR">
                        Private
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="optionsRadios" id="FL" value="FL">
                        Flexible
                    </label>
                </div>

            </div>
            <div id="modalComments">

                <div class="row-fluid">
                    <div class="input-append">
                        <input class="span11" id="commentTextBox" type="text" placeholder="Add a comment...">
                        <button class="btn" type="button" id="postComment">Post</button>
                    </div>
                    <div id="commentSpace">
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" id="deleteEvent">Delete</button>
        <button class="btn btn-primary" id="editEvent">Edit</button>
        <button class="btn btn-primary" id="createEvent">Create</button>
        <button class="btn btn-success" id="acceptEvent">Accept</button>
        <button class="btn btn-danger" id="rejectEvent">Reject</button>
    </div>

</div>


<script type="text/javascript">

$(document).ready(function(){ 

    $('#modal-repeat').hide()
        if($("#repeatEventsCheckbox").is(':checked')){
            $('#modal-repeat').show()
            if($('#repeat-option-time-period').val()=="daily"){
                $('#repeat-daily').show()
            }
            else if($('#repeat-option-time-period').val()=="weekly"){
                $('#repeat-weekly').show()
            }
            else if($('#repeat-option-time-period').val()=="monthly"){
                $('#repeat-monthly').show()
            }
            else if($('#repeat-option-time-period').val()=="yearly"){
                $('#repeat-yearly').show()
            }
        }
        else{
            $('#modal-repeat').hide()
            $('#repeat-daily').hide()
            $('#repeat-weekly').hide()
            $('#repeat-monthly').hide()
            $('#repeat-yearly').hide()            
    }

    $('#repeatEventsCheckbox').change(function (){
        $('#modal-repeat').hide()
        if($(this).is(':checked')){
            $('#modal-repeat').show()
            if($('#repeat-option-time-period').val()=="daily"){
                $('#repeat-daily').show()
            }
            else if($('#repeat-option-time-period').val()=="weekly"){
                $('#repeat-weekly').show()
            }
            else if($('#repeat-option-time-period').val()=="monthly"){
                $('#repeat-monthly').show()
            }
            else if($('#repeat-option-time-period').val()=="yearly"){
                $('#repeat-yearly').show()
            }
        }
        else{
            $('#modal-repeat').hide()
            $('#repeat-daily').hide()
            $('#repeat-weekly').hide()
            $('#repeat-monthly').hide()
            $('#repeat-yearly').hide()            
        }
    });

    $('#repeat-option-time-period').change(function (){
        $('#repeat-daily').hide()
        $('#repeat-weekly').hide()
        $('#repeat-monthly').hide()
        $('#repeat-yearly').hide()
        if($(this).val()=="daily"){
            $('#repeat-daily').show()
        }
        else if($(this).val()=="weekly"){
            $('#repeat-weekly').show()
        }
        else if($(this).val()=="monthly"){
            $('#repeat-monthly').show()
        }
        else if($(this).val()=="yearly"){
            $('#repeat-yearly').show()
        }
    });

});

    var format = "{{format}}";

    $("#repeatPopover").popover()

    var clearModal = function () {
        $("#eventName").val("");
        $("#eventDescription").val("");
        $("#eventLocation").val("");
        $('#editEvent').hide();
        $('#deleteEvent').hide();
        $('#acceptEvent').hide();
        $('#rejectEvent').hide();
    }

    var dates = new Array();
    {% for date in dates %}
    dates.push(new Date({{ date.year }},
            {{ date.month }},
            {{ date.day }}));
    {% endfor %}
    $(document).ready(function(){

            var scrollBar = $('#scrollbar1');
            scrollBar.tinyscrollbar({wheel: 34});
            scrollBar.tinyscrollbar_update(272);

            if (format == "weekly")
                $("#monthlyCalendar").hide();
            else
                $("#weeklyCalendar").hide();

            });


var gcal = function(resp) {
    $.post('gcal', {'responseJSON' : JSON.stringify(resp)}, function (data, status) {
    }).done(function() {
                populateEvents();
                });
}


$("#gcal").click(gcal);



var changeFormat = function(newFormat) {
    $.get('changeFormat', {'format': newFormat}, function (data, status) {
            uncolorCells();
            format = newFormat;
            formatCalendar(format, data);
            }, "json").done( function() {

                populateEvents();

            });};


$("#weeklyButton").click(function() {
        $("#monthlyCalendar").hide();
        $('.event').remove();
        $("#weeklyCalendar").show();
        format = "weekly";
        changeFormat("weekly");
    });

$("#monthlyButton").click(function() {
        format = "monthly";
        changeFormat("monthly");
        $("#monthlyCalendar").show();
        $("#weeklyCalendar").hide();
    });



var invitedFriendsID = [];
var nonRemovedFriends;

var addFriend = function(item) {
    var $invited = $('#invitedFriends');
    var $friendComplete = $('#friendComplete');
    $invited.html($invited.html() + '<span class="invitedFriend" ><span>' + item + '</span><span class="friendCloseBox">X</span></span>');
    $friendComplete.val("");
    var index = friendNames.indexOf(item);
    invitedFriendsID.push(friends[index].id);
    index = nonRemovedFriends.indexOf(item);
    nonRemovedFriends.splice(index, 1);
}

$(document).on('click', '.friendCloseBox', function() {
    var name = $(this).siblings().html();
    var index = friendNames.indexOf(name);
    invitedFriendsID.splice(index, 1);
    $(this).parent().remove();
    nonRemovedFriends.push(name);
        });

$('#friendComplete').typeahead({
        source: function() {
            if(nonRemovedFriends.length == 0) {
                friendNames = []
                ShowMyName();
                nonRemovedFriends = friendNames;
            }
            return nonRemovedFriends;
        }, 
        'updater': addFriend,
        open: function (event, ui) {
            $('.ui-autocomplete').css('z-index', '99999');
        }});


$('#friendModal').modal({'show': false, 'keyboard': false});

$('#friendModal').on('shown', function() {
        $('#friendComplete').focus();
        });

$("#chooseFriendsCancel").on("click", function() {
    $('#friendModal').modal('hide');
});

$("#showFriendAvailability").on("click", function() {
    $('#friendModal').modal('hide');

    if (invitedFriendsID.length > 0) {
        var data = JSON.stringify(invitedFriendsID);
        $.post('heatMap', {'data': {'param': data}}, function (data, status) {
            var values = [];
            $.each(data, function(index, dat) {
                values.push(dat.ratios);
                });
            colorCells(values);
            }, "json");
    }
});

$("#addFriends").on("click", function() {
    $('#invitedFriends').html("");
    invitedFriendsID = [];
    nonRemovedFriends = friendNames.slice(0);
    $("#friendModal").modal('show');
});

// test make event button
$("#makeEvent").on("click", function() {
        clearModal();
        $('#createEvent').show();
        $('a[href=#eventInformationTab]').tab('show');
        $('#deleteEvent').hide();
        $('#editEvent').hide();
        $('#eventModal').modal();
        $('#eventModal').on('shown', function(){                    
            $('#eventName').focus();
        });
        $("#startTime").val("");
        $("#endTime").val("");
});

var $cells = $(".calendarEntry, .calendarHalfHour");
var colorCells = function(values) {
    $cells.each(function(index, cell) {

        $(cell).css("background-color", "hsl("+(Math.floor(120*values[index]))+", 70%, 65%)");
            });
};

var uncolorCells = function() {
    $cells.css("background-color", "white");
    invitedFriendsID = [];
}


</script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/draggable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/facebook.js"></script>

{% endblock main %}
