{% extends "template.html" %}
{% block main %}
<link href="{{ STATIC_URL}}css/event.css" rel="stylesheet" media="screen">
<body>
    <div class="row-fluid">
        <span class="span10">
            <h1 class = "heading1" style = "margin-left:160px"><center>{{title}}</center></h1>
        </span>
        <div class = "span1">
            <button class="btn btn-block btn-primary" type="button" id="signIn" style="margin-top: 15px">Sign in</button>
        </div>
    </div>
    <br>
    
    <div class="row-fluid">
        <span class="span6 sectionEvent">
            <h3 class = "heading2"> Details </h3>
            <div> <h5 class = "heading3">Start:</h5> {{start}}</div>
            <div> <h5 class = "heading3">End: </h5> {{end}}</div>
            <div> <h5 class = "heading3">Location: </h5> {{location}}</div>
            <div><h5 class = "heading3">Description: </h5>{{description}}</div>
        </span>

        <span class="span6 sectionEvent">
            <h3 class = "heading2"> People </h3>
            <div><h5 class = "heading3">Creators:</h5> {% for creator in creators %} {{creator.name}} {% endfor %}</div>
            <div><h5 class = "heading3">Coming:</h5> <ul id = "coming">{% for p in coming %}<li> {{p.name}}</li> {% endfor %}</ul></div>
            <form class="form-search">
                <span>
                    <input type="text" id = "inputBox">
                    <button class="btn  btn-success" type="button" id="accept">Add Name</button>
                </span>
            </form>
        </span>
    </div>

    <br><br>

    <div class="row-fluid offset2">
        <div class = "span6">        
            <center><button class="btn btn-block btn-primary" type="button" id="share" style = "margin-left:70px">Share With Friends! <i class="icon-envelope" style = "margin-left:20px"> </i> </button></center>
        </div>
    </div>

    <hr />

    <div class="row-fluid">
        <div class="row-fluid commentsSection"> Comments: </div>
        <br>
        <span class="span8">
            <input type="text" class="span3" id = "Name" placeholder="Name here"> 

            <form class="form-search">
                <textarea  class="span10" id = "commentForm"></textarea>
                <button class="btn btn-primary" type="button" id="comment">Comment</button>
            </form>
            <div id = "commentsPlace">
                {% for p in comments %}
                <div class = "comment alert alert-info">
                    <span class="commentName"> {{p.name}} says:</span> 
                    {{p.comment}}
                    <div class="commentDate">{{p.date}}</div> 
                </div>
                {% endfor %}
            </div>
        </span>
    </div>

    <div class="row-fluid">
        <span class="span12">
        </span>
    </div>



    <div class="row-fluid">
        <span class = "span12">  

        </span>
    </div>

<script>
    $("#notificationButton").hide()
    $("#dLabel").hide()
    loggedIn = "{{loggedIn}}"
    if(loggedIn == "1"){
        $("#Name").hide()
        $("#signIn").hide()
    } else{
        $("#signIn").show() 
        $("#Name").show()        
    }
    eventPage = true
    var id = "{{id}}"
    function addName(){
        var name = $("#inputBox").val()
        $.get('addName',{'name' : $("#inputBox").val(), 'id': id}, function (data, status) {
            $("#coming").append('<li>'+name+'</li>')
        })
        $("#inputBox").val("")
    }

    function addComment(){
        var comment = $("#commentForm").val()
        $.post('comment',{'name' : $("#Name").val(), 'id': id, 'comment': $('#commentForm').val()}, function (data, status) {
            $("#commentsPlace").prepend('<div class = "comment alert alert-info"> <span class="commentName">'+ data[0].commenter + ' says:</span> '+ comment+ '<div class="commentDate">'+data[0].date+'</div> </div>');
        }, "json")
        $("#commentForm").val("")
    }
    function share(){
        var url = document.URL
        mail = "mailto:?subject=SpareTime&body=" +  encodeURIComponent("Hey, check out my event on SpareTime. And, join! It's easy, free, and fun!\n\n" + url + "\n \n Thanks!")
        console.log(mail)
        window.location.href = mail;
    }
    $("#comment").click(addComment)
    $("#accept").click(addName)
    $("#signIn").click(login)
    $("#share").click(share)

</script>

</body>

{% endblock main %}
