{% extends "template.html" %}
{% block main %}

<body>
    <div class="row-fluid">
        <span class="span12">
            <h1>Event: {{title}}</h1>
        </span>
    </div>
    <div class="row-fluid">
        <span class="span4">
            <div>Creators: {% for creator in creators %} {{creator.name}} {% endfor %}</div>
        </span>
        <span class="span8">
            <div>Description: {{description}}</div>
            <div>Start: {{start}}</div>
            <div>End: {{end}}</div>
        </span>

    </div>

    <div class="row-fluid">
        <span class="span4">
            <div>Coming: <ul id = "coming">{% for p in coming %}<li> {{p.name}}</li> {% endfor %}</ul></div>
            <form class="form-search">
                <span>
                    <input type="text" class="span8" id = "inputBox">
                    <button class="btn  btn-success" type="button" id="accept">Add Name</button>
                </span>
            </form>
        </span>
        <span class="span8">
            <div id = "commentsPlace">
                {% for p in comments %}
                <div class = "comment alert alert-info">
                    <span class="commentName"> {{p.name}} says:</span> 
                    {{p.comment}}
                    <div class="commentDate">{{p.date}}</div> 
                </div>
                {% endfor %}
            </div>
                <input type="text" class="span3" id = "Name" placeholder="Name here"> 

            <form class="form-search">

                <textarea  class="span10" id = "commentForm"></textarea>
                <button class="btn btn-primary" type="button" id="comment">Comment</button>
            </form>
        </span>
    </div>

    <div class="row-fluid">
        <span class="span12">
        </span>
    </div>


    <div class="row-fluid">

        <span class = "span2">  
        </span>
        <span class="span4">
            <button class="btn btn-block btn-success" type="button" id="signIn">Sign in</button>
        </span>
        <span class="span4">
            <button class="btn btn-block btn-success" type="button" id="share">Share!</button>
        </span>        
        <span class="span2">
        </span>
    </div>


    <div class="row-fluid">
        <span class = "span12">  

        </span>
    </div>
<script>
    $("#notificationButton").hide()
    $("#dLabel").hide()
    loggedIn = "{{loggedIn}}"
    if(loggedIn == "1"){
        $("#Name").hide()
        $("#signIn").hide()
    } else{
        $("#signIn").show() 
        $("#Name").show()        
    }
    eventPage = true
    var id = "{{id}}"
    function addName(){
        var name = $("#inputBox").val()
        $.get('addName',{'name' : $("#inputBox").val(), 'id': id}, function (data, status) {
            $("#coming").append('<li>'+name+'</li>')
        })
        $("#inputBox").val("")
    }

    function addComment(){
        var comment = $("#commentForm").val()
        $.post('comment',{'name' : $("#Name").val(), 'id': id, 'comment': $('#commentForm').val()}, function (data, status) {
            $("#commentsPlace").append('<div class = "comment alert alert-info"> <span class="commentName">'+ data[0].commenter + ' says:</span> '+ comment+ '<div class="commentDate">'+data[0].date+'</div> </div>');
        }, "json")
        $("#commentForm").val("")
    }
    function share(){
        var url = document.URL
        mail = "mailto:?subject=SpareTime&body=" +  encodeURIComponent("Hey, check out my event on SpareTime. And, join! It's easy, free, and fun!\n\n" + url + "\n \n Thanks!")
        console.log(mail)
        window.location.href = mail;
    }
    $("#comment").click(addComment)
    $("#accept").click(addName)
    $("#signIn").click(login)
    $("#share").click(share)

</script>

</body>

{% endblock main %}
