html, body {
height: 100%;
}

.hide {
    display: none;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

#header
{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
    padding: 0;
    /*background-color: #1971ab;  */
    background-color: #000000;  
}

#header h1{
    margin: 0;
    padding: 0;
    color: white;
    color: #009BFF;  
}

#wrapper {
    min-height:100%;
    position:relative;
}

#footer {
    width:100%;
    height:80px;
    bottom:0;
    left:0;
    background:#f5f5f5;
}

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .brand {
  color: #009BFF;
  font-weight: 400;
}

.calendarTable table{
    table-layout:fixed;
    width: 100%;
    border-collapse: collapse;
}

th.headings {
    text-align: center;
}

td.hourEntry {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-left: none;
    height: 16px;
    padding: 0px;
    margin: 0px;
}

.calendarToday {
    background-color: #CCCCCC;
}


.otherMonth.calendarToday {
    background-color: #EEEEEE;
}

td.calendarEntry {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-left: none;
    height: 16px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
}

td.calendarHalfHour {
    border: 1px solid #D8D8D8;
    border-top: 1px dashed #D8D8D8;
    border-left: none;
    height: 16px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
}

.calendarRow {
    padding: 0;
    margin: 0;
}

tr:first-child.calendarRow td{
    border-top: 0;
}

tr:last-child.calendarRow td{
    border-bottom: 0;
}

tr.calendarRow td:first-child {
    border-left: 0;
}

tr.calendarRow td:last-child {
    border-right: 0;
}

#weekname {
    text-align: center;
}

#mainContent {
    padding-top: 50px;
}

.dragged {
    background-color: #009BFF;
    height: 0px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
    pointer-events: none;
    display: hidden;
}

.event {
    background-color: #009BFF;
    border: 2px solid #0065A6; 
    height: 100px;
    width: 100px;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    cursor: default;
}

.notif {
    background-color: #FF8E00;
    border: 2px solid #FF6C00; 
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    overflow: hidden;
    cursor: default;
}

.movingEvent {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: move;
    z-index: 5;
}


.calendarMonthTable table{
    table-layout:fixed;
    width: 100%;
    border: 1px solid #D8D8D8;
    border-collapse: collapse;
}

td.calendarMonthEntry {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-left: none; 
    vertical-align: top;
    font-size: 12px;
    height: 84px;
    padding: 5px;
    margin: 0px;
    overflow: visible;
}

td.otherMonth {
    color: #CCCCCC;
}

.monthEvent {
    width: 95%;
    background-color: #009BFF;
    /*border: 2px solid #0065A6;*/ 
    border-radius: 4px;
    overflow: hidden;
    margin-top: 1px;
    padding: 0px 5px;
}

.monthExtra {
    width: 100%;
    text-color: #009BFF;
    overflow: hidden;
    margin-top: 1px;
}

.invitedFriend {
    background-color: #009BFF;
    border: 1px solid #0065A6;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 4px;
    display: inline-block;
}

.friendCloseBox{
    color: black;
    font-size: 8px;
    padding-left: 1px;
    margin-top: -5px;
    display:inline;
    float: right;
    cursor:pointer;
}

#commentSpace {
    padding-top: 20px;
}

.comment {
    color: #666666;
    margin: 4px;
}

.commentName {
    color: #222222;
}

.commentDate {
    font-size: 8pt;
    text-align: right;
}

.toolTipDiv {
    width: 100%;
    height: 100%;
}

