#header
{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 50px;
    padding: 0;
    /*background-color: #1971ab;  */
    background-color: #000000;  
}

#header h1{
    margin: 0;
    padding: 0;
    color: white;
    color: #009BFF;  
}

.calendarTable table{
    table-layout:fixed;
    width: 100%;
    border-collapse: collapse;
}

th.headings {
    text-align: center;
}

td.hourEntry {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    height: 16px;
}

.calendarToday {
    background-color: #CCCCCC;
}

td.calendarEntry {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    height: 16px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
}

td.calendarHalfHour {
    border: 1px solid #D8D8D8;
    border-top: 1px dashed #D8D8D8;
    height: 16px;
    padding: 0px;
    margin: 0px;
    overflow: visible;
}

tr:first-child.calendarRow td{
    border-top: 0;
}

tr:last-child.calendarRow td{
    border-bottom: 0;
}

tr.calendarRow td:first-child {
    border-left: 0;
}

tr.calendarRow td:last-child {
    border-right: 0;
}



#weekname {
    text-align: center;
}

#mainContent {
    padding-top: 50px;
}

.dragged {
    background-color: #009BFF;
    height: 0px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
    pointer-events: none;
    display: hidden;
}

